
.footerContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282c34;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerBar{
    margin-top: 1%;
    margin-bottom: 1%;
}

.footerList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footerList li {
    margin: auto;
    color: white;
    display: flex; 
    align-items: center; 
}

.footerList li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 12px; 
}
.t{
    text-align: center;
}
.a{
    color: #fcfbfb;
    text-decoration: none;
}

.footerList li a svg {
    width: 20px;
    height: 20px; 
    margin-right: 8px; 
}
.TermsAnsCondition{
    text-align: center;
    color: lightgrey;
}


@media (max-width: 600px) {
    .footerList li a {
        font-size: 10px;
        margin-top: 2px;
    }
    .a{
        color: #fcfbfb;
        text-decoration: none;
        font-size: 10px;
    }
    
    .footerList li a svg {
        width: 18px;
        height: 18px; 
        margin-right: 6px; 
    }
    .TermsAnsCondition{
        text-align: center;
        font-size: 0.7rem;
        color: lightgrey;
        margin-top: 1%;
        margin-bottom: 3% ;
    }
    a {
        color: #888;
        text-decoration: none;
    }
    
}
