.logo{
    width: 5rem;
    height: 5rem;
    margin-right: 2%;
}

@media only screen and (max-width: 600px){
    .text{
        size: 1px;
        font-size: 0.7rem;
        margin: 0%;
    }
    .logo{
        width: 2rem;
        height: 2rem;
        margin-left: .1%;
    }
}
