/* Home.css */

.home-container {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
}

.heading {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.description {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
}

.button_job {
    display: inline-block;
    padding: 10px 20px;
    background-color: #787878;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.button_job:hover {
    background-color: #4e4f4f;
}
.title {
    height: 190px;
    width: 240px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
  
}
.title::scrollbar {
    display: none;
}

.btn {
    margin-top: 0rem;
    justify-content: center;
    text-align: center;
    display: block;

}

.button-1 {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 auto;

}

.button-1:hover {
    background-color: #393f3f;
}

.container-Jobs {
    width: 250px;
    margin: 5px;
    height: 250px;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box {
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
}
.box::-webkit-scrollbar{
    display: none;
}
.router::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width:600px) {
    .button_job {
        font-size: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
    }

    .button_job:hover {
        background-color: #393f3f;
    }


    .title {
        height: 100px;
        width: 140px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
      
    }
    .title::scrollbar {
        display: none;
    }

    .btn {
        margin-top: 0rem;
        margin-left: 2em;
        margin-right: 2em;

    }

    .button-1 {
        font-size: 10px;
        padding: 5px 10px;
        margin: 0 auto;

    }

    .button-1:hover {
        background-color: #393f3f;
    }

    .container-Jobs {
        width: 150px;
        margin: 5px;
        height: 150px;
        border-radius: 3%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .box {
        display: flex;
        overflow-x: scroll;
        max-height: calc(100vh - 200px);
        margin-top: 20px;
    }
    .box::-webkit-scrollbar{
        display: none;
    }
    .router::-webkit-scrollbar{
        display: none;
    }
}